@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 dark:bg-zinc-950 dark:text-zinc-100;
}

html, body {
  @apply m-0 p-0 w-full h-full;
}
